<div class="modal fade" id="cartmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Edit address and phone</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="cartForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && ff.address.errors }" />
                        <div *ngIf="submitted && ff.address.errors" class="invalid-feedback">
                            <div *ngIf="ff.address.errors.required">Address is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && ff.phone.errors }" />
                            <div *ngIf="submitted && ff.phone.errors" class="invalid-feedback">
                                <div *ngIf="ff.phone.errors">Phone number must be Valid and at least 10 digits</div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="closeCart()">Close</button>

            </div>
        </div>
    </div>
</div>
