<article class="card card-product-list" *ngFor="let shoe of shoes; let i=index">
    <div class="row no-gutters">
        <aside class="col-md-3">
            <a style="cursor: pointer;" (click)="onDetail(shoe.id)" class="img-wrap">
                <span class="badge badge-danger"> NEW </span>
                <img [src]="images[i]">
            </a>
        </aside>
        <!-- col.// -->
        <div class="col-md-6">
            <div class="info-main">
                <a style="cursor: pointer;" class="h5 title" (click)="onDetail(shoe.id)"> {{shoe.name}}  </a>
                <div class="rating-wrap mb-3">
                    <ul class="rating-stars">
                        <li style="width:80%" class="stars-active">
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </li>
                        <li>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </li>
                    </ul>
                    <div class="label-rating">7/10</div>
                </div>
                <!-- rating-wrap.// -->

                <p> {{shoe.description}} </p>
            </div>
            <!-- info-main.// -->
        </div>
        <!-- col.// -->
        <aside class="col-sm-3">
            <div class="info-aside">
                <div class="price-wrap">
                    <span class="price h5"> ${{shoe.discount}} </span>
                    <del class="price-old" *ngIf="isDiscount(i)"> ${{shoe.price}}</del>
                </div>
                <!-- info-price-detail // -->
                <p class="text-success">Free shipping</p>
                <br>
                <p>
                    <button class="btn btn-primary btn-block" (click)="onDetail(shoe.id)"> Details </button>
                    <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
        <span class="text">Add to wishlist</span>
    </a>
                </p>
            </div>
            <!-- info-aside.// -->
        </aside>
        <!-- col.// -->
    </div>
    <!-- row.// -->
</article>
<!-- card-product .// -->