<div class="container">
    <p-carousel [value]="products" [numVisible]="3" [numScroll]="3" [circular]="false" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="header">
            <h3>Hot Products</h3>
        </ng-template>
        <ng-template let-product let-i="index" pTemplate="item">
            <a style="cursor: pointer;" class="product-item" (click)="onDetail(product.id)">
                <div class="product-item-content">
                    <div class="p-mb-3">
                        <img class="product-image" style="width: 100%;" [src]="images[index(product)]"></div>
                    <a class="p-mb-1 h4">{{product.name}}</a>
                    <div class="p-mt-0 p-mb-3">
                        <span class="price mr-1 h5">${{product.discount}}</span>
                        <del class="price-old h5">${{product.price}}</del>
                    </div>
                    <div style="margin-left: 29%;" class="mt-1">
                        <button class="btn btn-block btn-primary w-50">Details</button>
                    </div>

                </div>
            </a>
        </ng-template>
    </p-carousel>
</div>