<ng-template appPlaceholder></ng-template>
<div class="modal fade" id="changepasswordmodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Change password</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                    <div class="alert alert-danger" role="alert" *ngIf="changePassword">
                        {{changePassword}}
                    </div>
                    <!-- <div class="alert alert-success" role="alert" *ngIf="messageSuccessSignUp">
                      {{messageSuccessSignUp}}
                  </div> -->
                    <div class="form-group">
                        <label>Current password</label>
                        <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }" />
                        <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
                            <div *ngIf="f.currentPassword.errors.minlength">Password must be at least 6 characters</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>New password</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
                        <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.newPassword.errors.required">Password is required</div>
                            <div *ngIf="f.newPassword.errors.minlength">Password must be at least 6 characters</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm password</label>
                        <input type="password" formControlName="confirmed" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmed.errors }" />
                        <div *ngIf="submitted && f.confirmed.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmed.errors.required">Password is required</div>
                            <div *ngIf="f.confirmed.errors.minlength">Password must be at least 6 characters</div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-success mr-2">Change</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" (click)="close()">Close</button>

            </div>
        </div>
    </div>
</div>